<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet"/>

    <style>
        /* Custom, iPhone Retina */
        @media only screen and (min-width: 320px) {
        }

        /* Extra Small Devices, Phones */
        @media only screen and (min-width: 480px) {
        }

        /* Small Devices, Tablets */
        @media only screen and (min-width: 768px) {
        }

        /* Medium Devices, Desktops */
        @media only screen and (min-width: 992px) {
        }

        /* Large Devices, Wide Screens */
        @media only screen and (min-width: 1200px) {
        }
    </style>

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-site-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a th:href="@{/myhost/all}">
                <h2>URL TEST</h2>
                <!-- <img th:src="@{img/demo.png}" src="../static/img/demo.png" /> -->
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-site-navbar-collapse">

            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/myhost/all}">Host</a></li>
                <li><a th:href="@{/response/all}">Response</a></li>
                <li><a th:href="@{/settings}">Settings</a></li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
    <tr>
        <th>My Host</th>
        <th>Response Time</th>
        <th>Response Code</th>
        <th>Response Length</th>
        <th>Contains Word</th>
        <th>Time</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="myrespons : ${myresponses}"  th:class="${(myrespons.getResponseCode()!=mysettings.expectedAnswerCode)
    ||(myrespons.getResponseTime()>mysettings.acceptableResponseTime)}? 'danger'"> >

        <td th:text="${myrespons.getMyHost()}">Text ...</td>
        <td th:text="${myrespons.getResponseTime()}">Text ...</td>
        <td th:text="${myrespons.getResponseCode()}" >Text ...</td>
        <td th:text="${myrespons.getResponseLength()}">Text ...</td>
        <td  th:text="${myrespons.isContainsWord()}" >Text ...</td>
        <td th:text="${myrespons.getTime()}" >Text ...</td>

    </tr>
    </tbody>
    <tfoot>

    </tfoot>
</table>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"
        integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE="
        crossorigin="anonymous"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<!--<script th:src="@{js/demo.js}" src="../static/js/demo.js"></script> -->
</body>
</html>